@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,600,700,900,100italic,700italic,900italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:900italic&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html,
body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1;
  font-family: Montserrat;
  font-size: 20px;
  color: #000000;
}

@media (max-width: 767.98px) {
  body._lock {
    overflow: hidden;
  }
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*=__container_2] {
  max-width: 1430px;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0 15px;
  }
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  line-height: 122.5%;
}
@media (max-width: 767px) {
  .title {
    font-size: calc(26px + 23.8 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .title {
    font-size: calc(26px + 14 * (100vw / 1310));
  }
}
.title__weight {
  line-height: 122.5%;
  font-weight: 700;
}
@media (max-width: 767px) {
  .title__weight {
    font-size: calc(26px + 23.8 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .title__weight {
    font-size: calc(26px + 14 * (100vw / 1310));
  }
}

.header {
  position: relative;
}
.header::after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 3;
}
@media (max-width: 767.98px) {
  .header::after {
    display: block;
  }
}
.header__container {
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__burger-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
@media (max-width: 767.98px) {
  .header__burger-menu {
    padding: 100px 15px 30px;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: -120%;
    background: #ffffff;
    z-index: 2;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header__burger-menu._active {
    left: 0;
  }
}
.header__inputs {
  display: none;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .header__inputs {
    display: block;
    margin-bottom: 50px;
  }
  .header__inputs__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .header__inputs__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .header__inputs__input input {
    height: 40px;
    width: 100%;
    font-size: 24px;
    line-height: 29px;
  }
  .header__inputs__input input::-webkit-input-placeholder {
    font-size: 24px;
    line-height: 29px;
    color: #9f9f9f;
  }
  .header__inputs__input input::-moz-placeholder {
    font-size: 24px;
    line-height: 29px;
    color: #9f9f9f;
  }
  .header__inputs__input input:-ms-input-placeholder {
    font-size: 24px;
    line-height: 29px;
    color: #9f9f9f;
  }
  .header__inputs__input input::-ms-input-placeholder {
    font-size: 24px;
    line-height: 29px;
    color: #9f9f9f;
  }
  .header__inputs__input input::placeholder {
    font-size: 24px;
    line-height: 29px;
    color: #9f9f9f;
  }
}
@media (max-width: 767.98px) {
  .header__menu {
    margin-bottom: 40px;
  }
}
.header__logo-burger {
  display: none;
}
@media (max-width: 767.98px) {
  .header__logo-burger {
    display: block;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.header__burger {
  width: 24px;
  height: 14px;
  display: none;
  position: relative;
  z-index: 4;
}
.header__burger span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: block;
  width: 100%;
  height: 2px;
  background: #000000;
}
.header__burger::before, .header__burger::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  height: 2px;
  width: 17px;
  background: #000000;
  left: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger::before {
  top: 0;
}
@media (max-width: 767.98px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__burger._active span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 0;
  }
  .header__burger._active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 5px;
  }
  .header__burger._active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    bottom: 7px;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0 10px;
  z-index: 4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  line-height: 121.875%;
  text-transform: uppercase;
  color: #a0a0a0;
}
@media (max-width: 767px) {
  .header__logo {
    font-size: calc(20px + 20.4 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .header__logo {
    font-size: calc(20px + 12 * (100vw / 1310));
  }
}
.header__logo span {
  font-weight: 700;
  color: #000000;
}
.header__icons {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18%;
          flex: 0 1 18%;
  position: relative;
  z-index: 4;
}
@media (max-width: 767.98px) {
  .header__icons {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media (max-width: 991.98px) {
  .menu__list {
    gap: 25px;
  }
}
@media (max-width: 767.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
.menu__item-burger {
  display: none;
  color: inherit;
}
@media (max-width: 767.98px) {
  .menu__item-burger {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .menu__item-all {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
.menu__link {
  text-transform: uppercase;
  line-height: 120%;
  color: #000000;
  position: relative;
}
@media (max-width: 767px) {
  .menu__link {
    font-size: calc(18px + 3.4 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .menu__link {
    font-size: calc(18px + 2 * (100vw / 1310));
  }
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #000000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__link:hover {
  font-weight: 700;
}
.menu__link:hover::after {
  width: 100%;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.icons__item {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.icons__item:hover {
  opacity: 0.5;
}
@media (max-width: 767.98px) {
  .icons__item {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .icons__item-burger {
    display: block;
  }
}
.main-header {
  position: relative;
}
.main-header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 991.98px) {
  .main-header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-bottom: 22%;
}
@media (max-width: 991.98px) {
  .main-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-bottom: 42%;
  }
}
.main-header__info {
  position: absolute;
  top: 17%;
  left: 8%;
  width: 100%;
  height: 100%;
}
@media (max-width: 1199.98px) {
  .main-header__info {
    top: 9%;
    left: 5%;
  }
}
@media (max-width: 991.98px) {
  .main-header__info {
    top: 17%;
    left: 8%;
  }
}
@media (max-width: 700.98px) {
  .main-header__info {
    top: 5%;
    left: 5%;
  }
}
.main-header__title {
  font-style: italic;
  font-weight: 900;
  font-size: 40px;
  line-height: 122.5%;
  color: #ffffff;
}
.main-header__title:not(:last-child) {
  margin-bottom: 1.8rem;
}
@media (max-width: 1199.98px) {
  .main-header__title {
    font-size: 30px;
  }
}
@media (max-width: 991.98px) {
  .main-header__title {
    font-size: 40px;
  }
}
@media (max-width: 700.98px) {
  .main-header__title {
    font-size: 30px;
  }
}
@media (max-width: 600.98px) {
  .main-header__title {
    font-size: 20px;
  }
}
@media (max-width: 530.98px) {
  .main-header__title {
    font-size: 18px;
  }
}
@media (max-width: 530.98px) {
  .main-header__title:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}
@media (max-width: 415.98px) {
  .main-header__title {
    font-size: 16px;
  }
}
@media (max-width: 360.98px) {
  .main-header__title {
    font-size: 14px;
  }
}
@media (max-width: 330.98px) {
  .main-header__title {
    font-size: 12px;
  }
}
@media (max-width: 300.98px) {
  .main-header__title {
    font-size: 10px;
  }
}
.main-header__subtitle {
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
  max-width: 559px;
  color: #ffffff;
}
.main-header__subtitle:not(:last-child) {
  margin-bottom: 1.87rem;
}
@media (max-width: 1199.98px) {
  .main-header__subtitle {
    font-size: 15px;
  }
}
@media (max-width: 991.98px) {
  .main-header__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 700.98px) {
  .main-header__subtitle {
    font-size: 18px;
    width: 75%;
  }
}
@media (max-width: 600.98px) {
  .main-header__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 530.98px) {
  .main-header__subtitle {
    font-size: 14px;
  }
}
@media (max-width: 530.98px) {
  .main-header__subtitle:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}
@media (max-width: 415.98px) {
  .main-header__subtitle {
    font-size: 12px;
  }
}
@media (max-width: 360.98px) {
  .main-header__subtitle {
    font-size: 10px;
  }
}
@media (max-width: 330.98px) {
  .main-header__subtitle {
    font-size: 8px;
  }
}
@media (max-width: 300.98px) {
  .main-header__subtitle {
    font-size: 6px;
  }
}
.main-header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 40px;
  background: #ffffff;
  border-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: inherit;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main-header__button:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
  background: #111111;
}
@media (max-width: 600.98px) {
  .main-header__button {
    width: 115px;
    height: 30px;
    font-size: 10px;
  }
}
.main-header__strict {
  padding-bottom: 4%;
}

.body-main {
  position: relative;
}
.body-main__background {
  padding-bottom: 49%;
}
.preview {
  margin-top: -30px;
  position: relative;
  z-index: 2;
}
.preview__container {
  padding: 0 30px;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 65px;
}
@media (max-width: 767px) {
  .preview__container {
    gap: calc(50px + 25.5 * ((100vw - 320px) / 1310));
  }
}
@media (max-width: 1310px) and (min-width: 767px) {
  .preview__container {
    gap: calc(50px + 15 * (100vw / 1310));
  }
}
@media (max-width: 470px) {
  .preview__container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
  }
}
@media (max-width: 370px) {
  .preview__container {
    gap: 20px;
  }
}
.preview__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #efefef;
  -webkit-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}
.preview__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 60px 0px 25px 66px;
}
@media (max-width: 767.98px) {
  .preview__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
    padding: 30px 0px 15px 30px;
  }
}
@media (max-width: 440.98px) {
  .preview__body {
    padding: 10px;
  }
}
.preview__title {
  font-style: italic;
  font-weight: 700;
  line-height: 122.9166666667%;
  color: #ff3939;
}
@media (max-width: 767px) {
  .preview__title {
    font-size: calc(16px + 54.4 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .preview__title {
    font-size: calc(16px + 32 * (100vw / 1310));
  }
}
.preview__title:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 767.98px) {
  .preview__title:not(:last-child) {
    margin-bottom: 5px;
  }
}
.preview__subtitle {
  display: block;
  color: inherit;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.01em;
}
@media (max-width: 767px) {
  .preview__subtitle {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .preview__subtitle {
    font-size: calc(16px + 4 * (100vw / 1310));
  }
}
.preview__subtitle:hover {
  text-decoration: underline;
}
.preview__subtitle:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  .preview__subtitle:not(:last-child) {
    margin-bottom: 15px;
  }
}
.preview__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55px;
  height: 55px;
  background: #ffffff;
  border-radius: 35px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.preview__button:hover {
  background: #7e7e7e;
}
.preview__button img {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.preview__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 767.98px) {
  .preview__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }
}
@media (max-width: 380.98px) {
  .preview__image {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.preview__image a {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 350px;
}
.preview__image a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.preview__image img {
  max-width: 100px;
  max-width: 100%;
  -webkit-filter: drop-shadow(0px 22px 45px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 22px 45px rgba(0, 0, 0, 0.25));
  -webkit-transform: rotate(-28.75deg);
      -ms-transform: rotate(-28.75deg);
          transform: rotate(-28.75deg);
}

.slider__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .slider__container {
    padding-bottom: calc(30px + 51 * ((100vw - 320px) / 1310));
  }
}
@media (max-width: 1310px) and (min-width: 767px) {
  .slider__container {
    padding-bottom: calc(30px + 30 * (100vw / 1310));
  }
}
.slider__header {
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .slider__header {
    margin-bottom: calc(40px + 102 * ((100vw - 320px) / 1310));
  }
}
@media (max-width: 1310px) and (min-width: 767px) {
  .slider__header {
    margin-bottom: calc(40px + 60 * (100vw / 1310));
  }
}
.header-slider {
  text-align: center;
}
.header-slider__label {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  line-height: 122.5%;
}
@media (max-width: 767px) {
  .header-slider__label {
    font-size: calc(24px + 95.2 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .header-slider__label {
    font-size: calc(24px + 56 * (100vw / 1310));
  }
}

.slider-body__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
}
.slider-body__header:not(:last-child) {
  margin-bottom: 30px;
}
.slider-body__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 25px;
}
.slider-body__next.swiper-button-next {
  width: 55px;
  height: 55px;
  background: #c6c6c6;
  border-radius: 35px;
  position: static;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0;
}
.slider-body__next.swiper-button-next:hover {
  background: #7e7e7e;
}
.slider-body__next.swiper-button-next::after {
  display: none;
}
.slider-body__prev.swiper-button-prev {
  width: 55px;
  height: 55px;
  background: #c6c6c6;
  border-radius: 35px;
  position: static;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0;
}
.slider-body__prev.swiper-button-prev:hover {
  background: #7e7e7e;
}
.slider-body__prev.swiper-button-prev::after {
  display: none;
}
.swiper-slider__wrapper {
  padding: 20px;
}
.swiper-slider__slide.swiper-slide {
  height: auto;
  max-width: 300px;
}
@media (max-width: 370px) {
  .swiper-slider__slide.swiper-slide {
    max-width: 250px;
  }
}
.swiper-slider__item {
  padding: 50px 30px 30px;
  background: #efefef;
  -webkit-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
}
.swiper-slider__image {
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  max-width: 230px;
}
.swiper-slider__image:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.swiper-slider__image:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .swiper-slider__image:not(:last-child) {
    margin-bottom: calc(50px + 85 * ((100vw - 320px) / 1310));
  }
}
@media (max-width: 1310px) and (min-width: 767px) {
  .swiper-slider__image:not(:last-child) {
    margin-bottom: calc(50px + 50 * (100vw / 1310));
  }
}
.swiper-slider__image img {
  max-width: 100%;
  -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.3));
  -webkit-transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);
      -ms-transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);
          transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);
}
.swiper-slider__name {
  color: inherit;
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.swiper-slider__name:hover {
  text-decoration: underline;
}
.swiper-slider__name:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .swiper-slider__name:not(:last-child) {
    margin-bottom: calc(15px + 25.5 * ((100vw - 320px) / 1310));
  }
}
@media (max-width: 1310px) and (min-width: 767px) {
  .swiper-slider__name:not(:last-child) {
    margin-bottom: calc(15px + 15 * (100vw / 1310));
  }
}
.swiper-slider__price {
  position: relative;
  z-index: 2;
  font-family: "Work Sans";
  line-height: 115%;
}
@media (max-width: 767px) {
  .swiper-slider__price {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .swiper-slider__price {
    font-size: calc(16px + 4 * (100vw / 1310));
  }
}
.swiper-slider__button {
  position: relative;
  z-index: 2;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 55px;
  height: 55px;
  min-width: 55px;
  min-height: 55px;
  background: #ffffff;
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.swiper-slider__button:hover {
  background: #7e7e7e;
}
.swiper-slider__button img {
  -webkit-transform: matrix(0.86, -0.48, 0.52, 0.87, 0, 0);
      -ms-transform: matrix(0.86, -0.48, 0.52, 0.87, 0, 0);
          transform: matrix(0.86, -0.48, 0.52, 0.87, 0, 0);
}
.swiper-slider__logo {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-family: Poppins;
  font-style: italic;
  font-weight: 900;
  line-height: 240px;
  color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
@media (max-width: 767px) {
  .swiper-slider__logo {
    font-size: calc(120px + 68 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .swiper-slider__logo {
    font-size: calc(120px + 40 * (100vw / 1310));
  }
}

.categories__title:not(:last-child) {
  margin-bottom: 2rem;
}
.categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.categories__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: italic;
  font-weight: 700;
  line-height: 122.2222222222%;
  letter-spacing: 0.3em;
  color: inherit;
  position: relative;
}
@media (max-width: 767px) {
  .categories__label {
    font-size: calc(40px + -6.8 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .categories__label {
    font-size: calc(40px + -4 * (100vw / 1310));
  }
}
.categories__label span {
  position: relative;
  z-index: 2;
}
.categories__label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #000000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 767.98px) {
  .categories__label:hover {
    color: #ffffff;
  }
  .categories__label:hover::after {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .categories__label {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    color: #ffffff;
  }
}
@media (max-width: 400.98px) {
  .categories__label {
    font-size: 20px;
  }
}
.categories__image {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-bottom: 29%;
}
.categories__image:hover {
  opacity: 0.6;
}
@media (max-width: 767.98px) {
  .categories__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-bottom: 100%;
  }
}

.offer {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .offer {
    padding-top: calc(40px + 102 * ((100vw - 320px) / 1310));
  }
}
@media (max-width: 1310px) and (min-width: 767px) {
  .offer {
    padding-top: calc(40px + 60 * (100vw / 1310));
  }
}
@media (max-width: 767px) {
  .offer {
    padding-bottom: calc(40px + 102 * ((100vw - 320px) / 1310));
  }
}
@media (max-width: 1310px) and (min-width: 767px) {
  .offer {
    padding-bottom: calc(40px + 60 * (100vw / 1310));
  }
}
@media (max-width: 767.98px) {
  .offer__title span {
    display: block;
  }
  .offer__title span:nth-child(2) {
    margin-left: 16%;
  }
  .offer__title span:nth-child(3) {
    margin-left: 29%;
  }
}
.offer__title:not(:last-child) {
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .offer__title:not(:last-child) {
    padding-bottom: calc(20px + 136 * ((100vw - 320px) / 1310));
  }
}
@media (max-width: 1310px) and (min-width: 767px) {
  .offer__title:not(:last-child) {
    padding-bottom: calc(20px + 80 * (100vw / 1310));
  }
}
.offer__columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 600px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
@media (max-width: 767.98px) {
  .offer__columns {
    grid-template-columns: repeat(auto-fill, minmax(260px, 500px));
  }
}
@media (max-width: 400px) {
  .offer__columns {
    gap: 30px;
  }
}
.offer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #efefef;
  -webkit-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}
.offer__body {
  padding: 50px 0px 27px 50px;
}
@media (max-width: 767.98px) {
  .offer__body {
    padding: 20px 0 20px 20px;
  }
}
.offer__label {
  display: block;
  font-weight: 700;
  line-height: 120.8333333333%;
  color: #ff3939;
}
.offer__label span {
  font-weight: 700;
  line-height: 12.3333333333%;
  color: #ff3939;
  padding: 0 15px 0 0;
}
@media (max-width: 767px) {
  .offer__label span {
    font-size: calc(14px + 27.2 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .offer__label span {
    font-size: calc(14px + 16 * (100vw / 1310));
  }
}
.offer__label span:not(:last-child) {
  margin-right: 15px;
}
@media (max-width: 767px) {
  .offer__label {
    font-size: calc(12px + 20.4 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .offer__label {
    font-size: calc(12px + 12 * (100vw / 1310));
  }
}
.offer__label:not(:last-child) {
  margin-bottom: 20px;
}
.offer__subtitle {
  display: block;
  color: inherit;
  line-height: 120%;
}
@media (max-width: 767px) {
  .offer__subtitle {
    font-size: calc(12px + 13.6 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .offer__subtitle {
    font-size: calc(12px + 8 * (100vw / 1310));
  }
}
.offer__subtitle:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 400.98px) {
  .offer__subtitle:not(:last-child) {
    margin-bottom: 20px;
  }
}
.offer__button {
  display: block;
  display: grid;
  place-items: center;
  line-height: 120%;
  color: #ffffff;
  width: 180px;
  height: 55px;
  background: #000000;
  border-radius: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .offer__button {
    font-size: calc(12px + 13.6 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .offer__button {
    font-size: calc(12px + 8 * (100vw / 1310));
  }
}
.offer__button:hover {
  background: #efefef;
  color: #000000;
  border: 1px solid #000000;
}
@media (max-width: 767.98px) {
  .offer__button {
    display: none;
  }
}
.offer__button-mobile {
  display: none;
}
@media (max-width: 767.98px) {
  .offer__button-mobile {
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 35px;
    -webkit-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  .offer__button-mobile img {
    max-width: 100%;
  }
}
@media (max-width: 400.98px) {
  .offer__button-mobile {
    width: 25px;
    height: 25px;
  }
  .offer__button-mobile img {
    width: 10px;
  }
}
.offer__image {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.offer__image:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.offer__image img {
  -webkit-filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.25));
  -webkit-transform: rotate(-30.09deg);
      -ms-transform: rotate(-30.09deg);
          transform: rotate(-30.09deg);
  max-width: 100%;
  width: 400px;
}

.membership__container_2 {
  padding-bottom: 4%;
}
@media (max-width: 550px) {
  .membership__container_2 {
    padding-bottom: 0;
  }
}
.membership__title {
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .membership__title {
    margin-bottom: calc(20px + 17 * ((100vw - 320px) / 1310));
  }
}
@media (max-width: 1310px) and (min-width: 767px) {
  .membership__title {
    margin-bottom: calc(20px + 10 * (100vw / 1310));
  }
}
.membership__body {
  padding: 3.5% 0;
}
@media (max-width: 767.98px) {
  .membership__body {
    padding: 3.5% 0;
  }
}
.membership__lable {
  font-style: italic;
  font-weight: 900;
  line-height: 122.5%;
  color: #ffffff;
}
@media (max-width: 767px) {
  .membership__lable {
    font-size: calc(16px + 40.8 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .membership__lable {
    font-size: calc(16px + 24 * (100vw / 1310));
  }
}
.membership__lable:not(:last-child) {
  margin-bottom: 0.5%;
}
.membership__subtitle {
  font-weight: 400;
  line-height: 120%;
  color: #ffffff;
}
@media (max-width: 767px) {
  .membership__subtitle {
    font-size: calc(12px + 13.6 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .membership__subtitle {
    font-size: calc(12px + 8 * (100vw / 1310));
  }
}
.membership__subtitle span {
  font-weight: 700;
}
.membership__subtitle:not(:last-child) {
  margin-bottom: 2%;
}
.membership__button {
  display: grid;
  place-items: center;
  width: 12%;
  height: 40px;
  background: #ffffff;
  border-radius: 16px;
  color: inherit;
  line-height: 160%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .membership__button {
    font-size: calc(10px + 10.2 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .membership__button {
    font-size: calc(10px + 6 * (100vw / 1310));
  }
}
@media (max-width: 767.98px) {
  .membership__button {
    height: 25px;
    width: 70px;
  }
}
.membership__button:hover {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.thanks {
  padding: 7% 0;
}
.thanks__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.thanks__label {
  text-transform: uppercase;
  line-height: 120.8333333333%;
}
@media (max-width: 767px) {
  .thanks__label {
    font-size: calc(12px + 20.4 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .thanks__label {
    font-size: calc(12px + 12 * (100vw / 1310));
  }
}
.thanks__label:not(:last-child) {
  margin-bottom: 2.4%;
}
.thanks__title {
  font-style: italic;
  font-weight: 900;
  line-height: 122.9166666667%;
}
@media (max-width: 767px) {
  .thanks__title {
    font-size: calc(30px + 30.6 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .thanks__title {
    font-size: calc(30px + 18 * (100vw / 1310));
  }
}
.thanks__title:not(:last-child) {
  margin-bottom: 2.4%;
}
.footer {
  padding-top: 60px;
  background: #000000;
}
@media (max-width: 767px) {
  .footer {
    padding-top: calc(30px + 51 * ((100vw - 320px) / 1310));
  }
}
@media (max-width: 1310px) and (min-width: 767px) {
  .footer {
    padding-top: calc(30px + 30 * (100vw / 1310));
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 600px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__item:not(:last-child) {
  margin-bottom: 11.8%;
}
.footer__link {
  line-height: 120%;
  color: #ffffff;
  position: relative;
}
@media (max-width: 767px) {
  .footer__link {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .footer__link {
    font-size: calc(16px + 4 * (100vw / 1310));
  }
}
.footer__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer__link:hover::after {
  width: 100%;
}
.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 39.5%;
          flex: 0 1 39.5%;
  position: relative;
}
@media (max-width: 600px) {
  .footer__logo {
    width: 60%;
    margin: 10% 0;
  }
}
.footer__img {
  padding-bottom: 39%;
  position: relative;
  z-index: 2;
}
.footer__image {
  width: 59.5%;
  padding-bottom: 59.5%;
  position: absolute;
  top: -27%;
  left: 20%;
}
.footer__copy {
  text-align: center;
  padding: 100px 0 20px;
  color: #ffffff;
}
@media (max-width: 767px) {
  .footer__copy {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1310));
  }
}
@media (min-width: 767px) {
  .footer__copy {
    font-size: calc(14px + 2 * (100vw / 1310));
  }
}
@media (max-width: 600px) {
  .footer__copy {
    padding-top: 40px;
  }
}